@import "tailwindcss";

:root {
  --kelly-slab: "Kelly Slab", sans-serif;
  --alumni-sans: "Alumni Sans", sans-serif;

  --fill: #1e2025;
  --contrast: #fdfdfd;
  --accent: #ff0633;
  --gray: #c3c2bd;
  --gray-stroke: #2e3139;

  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--fill);
  color: var(--contrast);
  font-family: var(--alumni-sans);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme {
  --font-kelly-slab: var(--kelly-slab);
  --font-alumni-sans: var(--alumni-sans);

  --color-fill: var(--fill);
  --color-contrast: var(--contrast);
  --color-accent: var(--accent);
  --color-gray: var(--gray);
  --color-gray-stroke: var(--gray-stroke);
}

#root {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.fix-container {
  max-width: 73.5rem;
  width: 100%;
  margin: 0 auto;
}
