@import "tailwindcss";

:root {
  --kelly-slab: "Kelly Slab", sans-serif;
  --alumni-sans: "Alumni Sans", sans-serif;

  --fill: #1e2025;
  --contrast: #fdfdfd;
  --accent: #ff0633;
  --gray: #c3c2bd;
  --gray-stroke: #2e3139;

  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--fill);
  color: var(--contrast);
  font-family: var(--alumni-sans);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme {
  --font-kelly-slab: var(--kelly-slab);
  --font-alumni-sans: var(--alumni-sans);

  --color-fill: var(--fill);
  --color-contrast: var(--contrast);
  --color-accent: var(--accent);
  --color-gray: var(--gray);
  --color-gray-stroke: var(--gray-stroke);

  --shadow-button:
    0 4px 4px 0 rgb(0 0 0 / 0.3), 0 8px 12px 6px rgb(0 0 0 / 0.15);
  --shadow-button-hover:
    0 8px 8px 0 rgb(0 0 0 / 0.3), 0 16px 24px 12px rgb(0 0 0 / 0.15);
  --shadow-hover: 0 8px 12px 6px rgb(0 0 0 / 0.15);

  --breakpoint-xs: 23.4375rem; /* 375px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
}

#root {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fix-container {
  max-width: 73.5rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 80rem) {
  .fix-container {
    max-width: 58rem;
    padding: 0 8px;
  }
}

@media (max-width: 64rem) {
  .fix-container {
    max-width: 45rem;
  }
}

@media (max-width: 48rem) {
  .fix-container {
    max-width: 28rem;
  }
}

@media (max-width: 30rem) {
  .fix-container {
    max-width: 21.4375rem;
  }
}
